/* ESTILOS GERAIS */
/*tira todo tipo de fomatacao, desain estilo, etc de todo texto*/
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{ font-family: 'Open Sans Condensed', sans-serif;
    background: white;
}
.container{
	text-align:center;
	margin: 8px;
	border: solid 10px #0c9fda;
}
/* HADER */	
header{}
header .center{}
header .center img{
	width: 95px;/*tamanho horizontal*/
    height: auto;/*tamanho vertical*/
}

/* NAVEGACAO */
nav-bar {
    width: 100%;
}
.nav-container {
    overflow: hidden;
    margin: 2.95% auto;
}
.nav-menu {
  display: none;
}
nav.nav-bar ul {
  list-style: none;
}
.nav-list {
  margin: 0 auto;
  width: 160%;
  padding: 0;
}
.nav-list li {
  float: left;
  width:12.5%;
}
.nav-list li a {
  display: block;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  padding: 30px 30px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}
.nav-list li a:hover {
  -webkit-filter: brightness(1.3);
  padding-top: 80px ;
}
/* COR DA NAVEGACAO */
#tile1 {
	background:#00ced7
}
#tile4 {
	background:#00bbc3
}
#tile2 {
   background:#00a8af
}
#tile5 {
	background:#00959c
}
#tile8 {
	background:#00889c
}


/* HEADER */
header .center h3{margin: 148px 0px 20px;}
header .center li {}
header .center li i{}
header .center li i a{}
/* PAGINA INICIAL */
main{}
main .center{}
main .center h3{margin: 19px;}
main .nome{}
main .nome label{
	font-weight: 800;
    margin: 0px 4px 0;
}
main .nome input{margin: 20px 12px 0px;}
main .email{}
main .email label{font-weight: 800;}
main .email input{margin: 20px 15px 0px;}
main .msg{}
main .msg label{
	font-weight: 800;
	margin: 0 -18px 0;
}
main .msg input{margin: 20px 33px;}
main .button{}
main .button button{margin: 20px 112px;}

/* RESOLUCAO DE TELA 480PX */
@media screen and (max-width: 480px) {
.nav-container, .container {
    background:#4f6f8f
}
.nav-menu{
    color: #fff;
    float: left;
    display: block;
    padding: 10px 10px;
    cursor: pointer;
}
.nav-list{
    float: left; 
    width: 100%;
    height: 0;
}
.nav-open {
    height:auto
}
.nav-list li {
    width:100%
}
.nav-list li a {
    text-align: left;
}
.nav-list li a:hover {
    padding-left: 36%;
    padding-top: 30px;
}
/* RESOLUCAO DE TELA 768PX */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-container,.container {
    margin: 8% auto;
  }
  .nav-list li {
    float: left;
    width: 50%;
  }
  .nav-list li a:hover{
    padding-right: 40%;
    padding-top: 30px ;
  }
}